* {
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(190, 213, 216);
}

header {
    width: 100vw;
    height: 15vh;
    background-color: rgb(192, 146, 8);
}

.logo {
    float: left;
}

.header-nav {
    float: right;
}

.header-nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
}

.header-nav ul li {
}

.header-nav ul li a {
    color: black;
    /* text-align: center; */
    /* padding: 16px; */
    text-decoration: none;
}

.personal-info {
    background-color: #333333;
    color: #FFF;
    margin: 20px;
}

.knowledge {
    background-color: #333333;
    color: #FFF;
    margin: 20px;
}

.dev-technologies {
    background-color: rgb(192, 146, 8);
    margin: 15px;
}

.design-technologies {
      
    margin: 15px;
}

.footer {

}